html {
    box-sizing: border-box;
    background-color: rgb(85, 163, 153);
}
*, *:before, *:after {
    box-sizing: inherit;
}

h2{
    float: left;
    align-content: center;
    margin-left: 3rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
    width: 400px;
    background-color: black;
    color:white;
    margin: 3rem auto;
}
.screen{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding:20px 5px;
    font-size: 40px;
}
.calc-button-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.6%;
}
.clac-button{
    background-color: #d8d9db;
    color:black;
    border:none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
   
}
.clac-button:hover{
    background-color: #ebebeb;
}
.clac-button:active{
    background-color: #bbbcbe;
}
.double{
    flex-basis: 49.7%;
}
.triple{
    flex-basis:74.8%;
}
.clac-button:last-child{
    background-color:  #df974c;
    color:white;
}
.clac-button:last-child:hover{
    background-color: #dfb07e;
}
.clac-button:last-child:active{
    background-color: #dd8d37;
}